.App {
  text-align: center;
}
.div {
  display: flex;
  justify-content: space-around;
}
.card {
  box-shadow: 2px 3px 3px 2px rgba(109, 54, 54, 0.414);
  width: 30%;
  height: 30vh;
  margin: 10px;
}
.header {
  background-color: rgba(0, 128, 0, 0.293);
  display: flex;
  justify-content: space-around;
  height: 25px;
}
.form {
  width: 30%;
  -webkit-box-shadow: -1px 5px 61px 13px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -1px 5px 61px 13px rgba(0, 0, 0, 0.47);
  box-shadow: -1px 5px 61px 13px rgba(0, 0, 0, 0.47);
  /* margin-left: 25%; */
  margin: 10% 0 0 35%;
  height: 31vh;
}
.reminder {
  font-size: 10px;
  margin: 10px;
}
.link {
  text-decoration: none;
}
.footer {
  bottom: 0;
  position: absolute;
  margin-left: 45vw;
}
.home {
  background-color: green;
  padding: 100px;
  font-size: 50px;
  font-weight: 100px;
}
.about {
  background-color: aquamarine;
  padding: 200px;
  font-size: 50px;
}
.system {
  background-color: rgba(28, 88, 68, 0.493);
  padding: 200px;
  font-size: 50px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
.productbox {
  width: 90px;
  height: 100px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.111);
  margin: 10px;
}
